.mainContainer{
    width: 500px;
    height:300px;
    background-color: #2f2f2f;
    border-radius: 40px;
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
}


.starsContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    transform: scale(1.4,1.4);
    position:absolute;
    bottom:10px;
    right:40px;

}

.projectContent{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 10px;
    gap:20px;
}

.projectName{
    font-size: 29px;
}

.projectDescription{
    font-size: 21px;
    font-weight:400;
}


.linksContainer{
    font-size: 42px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom:10px;
    gap:10px;
    left:20px;

}


.linksContainer svg{
    opacity: 0.5;
}

.linksContainer svg:hover{
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .mainContainer{
        width: 400px;
    }

    .mainContainer svg{
        opacity: 1;
    }

}